@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Space Grotesk';

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* --accent: 210 40% 96.1%; */
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    /* --accent: 217.2 32.6% 17.5%; */
    --accent: 24 24 27;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


html {
  @apply h-full
}


body {
  
  @apply font-sans h-full;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@keyframes fadeInOutAniomation {
  from {
    opacity: 0;
  }
}

.animate-fade-loop {
  animation: fadeInOutAniomation 1.6s infinite alternate;
  animation-delay: -1.3s;
}

:root {
  --rsbs-max-w: 640px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  @apply mt-safe-top !z-50;
}

.rsbs-not-full-height [data-rsbs-header] {
  padding-top: calc(20px) !important;
}
.rsbs-not-full-height [data-rsbs-header]:before {
  top: 8px !important;
}

.current-track-animation {
  animation: animateTrackVizHeight 500ms forwards infinite;
  transform-origin: bottom;
}

.current-track-animation-1 {
  animation: animateTrackVizHeight 500ms forwards infinite;
  animation-delay: -400ms;
}

@layer components {
  .full-height-sheet .react-modal-sheet-container {
    height: 100%  !important;
    padding-top: env(safe-area-inset-top) !important;
    padding-bottom: calc(env(safe-area-inset-bottom));

    @apply !bg-accent transition-colors
  }
}

@keyframes animateTrackVizHeight {
  0% {
    transform: scaleY(.4);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(.4);
  }
}

