@tailwind base;

@layer base {
  :root {
    --accent: 24 24 27;
  }
}

@tailwind components;


html {
  @apply h-full
}


body {
  @apply font-body h-full;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@keyframes fadeInOutAniomation {
  from {
    opacity: 0;
  }
}

.animate-fade-loop {
  animation: fadeInOutAniomation 1.6s infinite alternate;
  animation-delay: -1.3s;
}

:root {
  --rsbs-max-w: 640px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  @apply mt-safe-top !z-50;
}

.rsbs-not-full-height [data-rsbs-header] {
  padding-top: calc(20px) !important;
}
.rsbs-not-full-height [data-rsbs-header]:before {
  top: 8px !important;
}


@tailwind utilities;


.current-track-animation {
  animation: animateTrackVizHeight 500ms forwards infinite;
  transform-origin: bottom;
}

.current-track-animation-1 {
  animation: animateTrackVizHeight 500ms forwards infinite;
  animation-delay: -400ms;
}

@layer components {
  .full-height-sheet .react-modal-sheet-container {
    height: 100%  !important;
    padding-top: env(safe-area-inset-top) !important;
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);

    @apply !bg-accent transition-colors
  }
}

@keyframes animateTrackVizHeight {
  0% {
    transform: scaleY(.4);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(.4);
  }
}